html {
    padding: 10px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
.graybox {
    background-image: linear-gradient(white, #111);
}
.bluebox {
    background-image: linear-gradient(to right, white, blue);
}
.redbox {
    background-image: linear-gradient(#A20025, white);
}
.greenbox {
    background-image: linear-gradient(to right, #008A00, white);
}
.twobox { 
    box-shadow: 
    0 0 0 2px #000,
	0 0 0 10px #FFFFFFFF,
    0 0 0 12px #000,
    2px 2px 2px #999;
}
.inbox {
    box-shadow: 0 0 0 2px #000;
}
.outbox {
    width: 128px;
    height: 128px;
    padding: 8px;
    box-shadow: 
        0 0 0 2px #000,
        5px 5px 5px #666;
    margin: 10px;
}
.overbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    margin: auto;
    background-image: linear-gradient(#666666, #F5F5F5);
    box-shadow: 5px 5px 5px #999;
    width: 1800px;
}
.dhbox {
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    margin: auto;
    background-image: linear-gradient(#F5F5F5, #B3B3B3);
    box-shadow: 5px 5px 5px #666666;
    text-align: center;
}
.threebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    margin: auto;
    margin-top: 70px;
    background-image: linear-gradient(#F5F5F5, #B3B3B3);
    box-shadow: 5px 5px 5px #999;
    width: 99%;
}
.bottomboxes {
    display: flex;
    flex-direction: row;
}
.leftbox {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    background-image: linear-gradient(#F5F5F5, #B3B3B3);
    box-shadow: 5px 5px 5px #999;
    max-width: 32%;
    align-self: flex-end;
}
.centerbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    margin: auto;
    margin-top: 70px;
    background-image: linear-gradient(#F5F5F5, #B3B3B3);
    box-shadow: 5px 5px 5px #999;
    max-width: 32%;
}
.rightbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25pt;
    border: 2px solid #666666;
    border-radius: 25px;
    background-image: linear-gradient(#F5F5F5, #B3B3B3);
    box-shadow: 5px 5px 5px #999;
    max-width: 32%;
    align-self: flex-end;
}
.centerrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.rightrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#G {
    width: 112px;
}